h1 {
    color: blue;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  body{
      color: black;
      background-color: chocolate;
      font-size: medium;
      font-family: 'Courier New', Courier, monospace;
      line-height: normal;
  }